// -------------------------------------
// -------------- Buttons --------------
// -------------------------------------
.sas-text-button {
	background-color: transparent;
	border: 0;
	padding: 0;
	text-decoration: underline;
	color: #5e5e5e;
	cursor: pointer;
	transition: .2s;
	font-size: 16px;

	&:hover {
		color: black;
	}

	&.small {
		font-size: 12px;
	}
	&.block {
		display: block;
		margin-top: .5em;
		margin-bottom: 1em;
	}
	&.blue {
		color: $sas-blue;
	}
}

.sas-round-button {
	display: inline-block;
  padding: 15px 5px;
  font-size: 12px;
	letter-spacing: 1.2px;
	line-height: 20px;
	border: 0;
	border-radius: 25px;
	cursor: pointer;
	transition: .2s;
	font-family: Muli;
  font-weight: bolder;
  min-width: 150px;
  text-align: center;

	&[disabled] {
		background-color: #d8d8d8 !important;
		cursor: default;
	}

	&.primary {
		color: #fff !important;
		background-color: $sas-coral;

		&:hover {
			background-color: $sas-coral-dark;
		}

		&.blue {
			background-color: $sas-blue;

			&:hover {
				background-color: $sas-blue-dark;
			}
		}

		&.dark-blue {
			background-color: $sas-blue-dark;

			&:hover {
				background-color: $sas-blue-darker;
			}
		}

		&.blue-black {
			background-color: $sas-blue-black;

			&:hover {
				background-color: $sas-blue-black-dark;
			}
		}
	}

	&.secondary {
		color: $sas-coral;
		background-color: #fff;
		border: 2px solid $sas-coral;

		&:hover {
			background-color: $sas-coral;
			color: #fff;
		}
		&.blue {
			color: $sas-blue;
			border: 2px solid $sas-blue;

			&:hover {
				background-color: $sas-blue;
				color: #fff;
			}
		}
		&.dark-blue {
			color: $sas-blue-dark;
			border: 2px solid $sas-blue-dark;

			&:hover {
				background-color: $sas-blue-dark;
				color: #fff;
			}
		}
		&.white {
			color: #fff;
			border: 1px solid #fff;
			background-color: rgba(0,0,0,0);
			font-weight: normal;

			&:hover {
				background-color: #fff;
				color: $sas-blue-darker;
			}
		}
	}

	&.small {
		padding: 8px;
		min-width: 120px;
	}

	&.disabled {
		background-color: $sas-light-gray;
		cursor: default;
	}

	&.block {
		display: block;
		margin: 0 auto;
		max-width: 165px;
	}

	&:hover {
		text-decoration: none;
	}
}

// Form elements
.select-bar {

	.select-bar-inner {
		border-radius: 8px;
		border: 1px solid #ddd;
		display: flex;


		.select-item {
			border-right: 1px solid #ddd;
			flex: 1;
			cursor: pointer;

			&>input {
				display: none;
			}

			&>input:checked ~ .select-item-inner {
				background-color: $sas-blue-light;
				color: #5e5e5e;
			}

			.select-item-inner {
				text-align: center;
				height: 100%;
				padding: 5px 0;
				color: $sas-blue;
				transition: .2s;
				user-select: none;
			}
		}

		.select-item:first-child {
			.select-item-inner {
				border-radius: 8px 0 0 8px;
			}
		}
		.select-item:last-child {
			border-right: 0;

			.select-item-inner {
				border-radius: 0 8px 8px 0;
			}
		}
	}

	.custom-input {
		display: none;
	}
}


// Loading Icon
.loading-heart {
	span {
		font-size: 24px;
		font-weight: bold;
		color: $sas-blue;
		vertical-align: middle;
	}

	img{
		vertical-align: middle;
		width: 30px;
		height: 30px;
	  animation: loading-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
	}
}

@keyframes loading-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

// Product Image Slider
.product-image-slider {
	 
}