/*---footer----*/
$footer-color: #5e5e5e;

#main-footer {
	padding: 40px;
	background-color: $footer-color !important;
}
#footer-top {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
#footer-bottom {
	background-color: $footer-color !important;
}

ul.footer-links {
	float: left;
}
ul.footer-links li {
	text-align: center;
	margin:  0 0 15px 0;
}
ul.footer-links li a{
	color: #fff;
	text-align: center;
	font-size: 16px;
	font-family: "Muli", sans-serif;
}
.social_footer {
	float:right;
	
}
.social_footer p {
	text-align: center;
	color: #fff;
	font-family: "Muli", sans-serif;
	font-weight: lighter;
}
.social_footer img{
	color: #fff;
}
.social_footer ul li {
	display: inline-block;
	margin-left: 10px;
}
#location-address{
	font-family: "Muli", sans-serif;
	letter-spacing: .75;
}
.copyright {
	text-align: center;
	color: #fff;
	padding-bottom: 0px;
}
.adjusted-for-background-image {
	width: 70% !important;
	margin-left: 330px !important;
}
.section-bg-img {
	background-size: contain;
	background-position: left;
	background-repeat: no-repeat;
}

/*------404-page----------*/
.error-pg {
	text-align: center;
}
.error-message {
	color: #F0F0F0;
	font-size: 170px;
	line-height: 1;
	font-weight: 700;
}
.error-pg h2 {
	padding: 40px 0;
}
.error-pg input{
	line-height: 28px;
	padding: 6px;
	text-indent: 4px;
	margin-right: 10px;
}
.error-pg  #searchsubmit {
	padding: 13px 29px !important;
	line-height: 17px !important;
	font-size: 14px !important;
	border-radius: 2px !important;
	border: 1px solid #44bbe9 !important;
	font-weight: 400 !important;
	color: #44bbe9 !important;
	letter-spacing: 0px !important;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	margin-right: 0px !important;
	background: #ffffff !important;
}